body {
	background-color: #030303;
}

h3 {
	padding-left: 15%;
	padding-right: 15%;
}

img {
	padding-left: 15%;
	padding-right: 15%;
}

h2 {
	color: #E80707;
	padding-left: 15%;
	padding-right: 15%;
}
h1 {
	color: #E80707;
	padding-left: 15%;
	padding-right: 15%;
}
h4 {
	color: #E80707;
	padding-left: 15%;
	padding-right: 15%;
}
