




 h1 {color: white;}
 h2 {color: white;}
 h3 {color: white;}

 a {
   
    margin: 10;
    padding: 10;
}
h3{
    display: inline; vertical-align: right 200px;
}


body {background-color: black;} 














