<!DOCTYPE html>
<html>
	<head>
		<title>Moe's Biography</title>
		<meta name="description" content="The Story of Moe" />
		<link rel="stylesheet" type="text/css" href="../css/bio.css">

        <img style="-webkit-user-select: none;background-position: 0px 0px, 10px 10px;background-size: 20px 20px;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);cursor: zoom-in;" src="file:///Users/moequinn82/Desktop/Moe-MMP100-Midterm/images/Moe-Animation-HW2.gif" width="711" height="444">
        
	</head>
    <body>
        <h1>Moe Quinn's Biography</h1>
        <a href="../index.html">Home</a>
        <a href="bio.html">Bio</a>
        <a href="gallery.html">Gallery</a>

    	<h2>How <b>it</b> all Began</h2>
    	<p>He was born a long time ago</p>
    	<p>In a galaxy far <i>far</i> away.</p>
    	<h2>Where is he now?</h2>
    	<p>He is <em>right</em> here, duh?</p>
    	<h3>And where is he going?</h3>
    	<p>No <strong>where</strong></p>
	</body>
</html>