<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
  <link rel="stylesheet" type="text/css" href="../css/gallery.css">
  <style>
body  {
    background-image: url("../images/space1.gif"); 
}
</style>

</head>
    <body>
    	<h1>Moe Quinn's Gallery</h1>
       
       <a href="../index.html">Home</a>
       <a href="../templates/bio.html">Bio</a>
       <a href="../templates/gallery.html">Gallery</a>

		<h1>Arch Angel</h1>
	<p>Protector</p>
  <figure>
     <img src="../images/angel1.jpg" alt="Angel" width=600 height=300></img>
  </figure>
  <figcaption>Defender of Life</figcaption>

    <h1>Batman</h1>
	<p>Justice</p>
  <figure>
     <img src="../images/batman-hd1.jpg" alt="Batman" width=600 height=300></img>
  </figure>
  <figcaption>Crime Stopper</figcaption>

    <h1>Bruce Lee</h1>
	<p>Teacher</p>
  <figure>
     <img src="../images/bruce-lee1.jpg" alt="Bruce Lee" width=600 height=300></img>
  </figure>
  <figcaption>Inspirational</figcaption>

    <h1>Meditation</h1>
	<p>Chakras</p>
  <figure>
     <img src="../images/chakras1.jpg" alt="Chakras" width=600 height=300></img>
  </figure>
  <figcaption>The Energy of Life</figcaption>

    <h1>Animation</h1>
	<p>Drawing</p>
  <figure>
     <img src="../images/illusion1.jpg" alt="Drawing" width=600 height=300></img>
  </figure>
  <figcaption>Motivating</figcaption>

    <h1>Kitten</h1>
	<p>Funny</p>
  <figure>
     <img src="../images/funny-cat2.jpg" alt="Funny Cat" width=600 height=300></img>
  </figure>
  <figcaption>Love Kittens</figcaption>

    <h1>Guitar</h1>
	<p>Music</p>
  <figure>
     <img src="../images/guitar-playing1.jpg" alt="Guitar Playing" width=600 height=300></img>
  </figure>
  <figcaption>Learning To Playing The Guitar</figcaption>

    <h1>Motocycle</h1>
	<p>Riding</p>
  <figure>
     <img src="../images/motorcycle1.jpg" alt="Motorcycle" width=600 height=300></img>
  </figure>
  <figcaption>I Would Like to Ride a Motorcycle in the Spring and Summer Time</figcaption>

    <h1>Guardian</h1>
	<p>Risktaker</p>
  <figure>
     <img src="../images/protector1.jpg" alt="Protector" width=600 height=300></img>
  </figure>
  <figcaption>In Defense Mode There are no rules only Survival</figcaption>

    <h1>Wrestling</h1>
	<p>High Flyer</p>
  <figure>
     <img src="../images/wrestling1.jpg" alt="Wrestling" width=600 height=300></img>
  </figure>
  <figcaption>Watching Wrestling</figcaption>

  <h1>Spiritual Awakening</h1>
  <p>Mysteries of Life</p>
  <figure>
     <img src="../images/sa.png" alt="Spiritual Awakening" width=600 height=300></img>
  </figure>
  <figcaption>Spirit Animals</figcaption>

  <h1>Cool Anime Pic</h1>
  <p>Anime are Cool to me</p>
  <figure>
     <img src="../images/anime1.jpg" alt="Anime" width=600 height=300></img>
  </figure>
  <figcaption>Love Anime</figcaption>
	</body>
</html>