<!DOCTYPE html>
<html>
<head>
	<title> website</title>
	<link rel="stylesheet" type="text/css" href="css/style2.css">

</head>
<body>
	<div>
		<h1>bio</h1>
		<h3> <a href="../index.html"> home page</a></h3>
		<h3> <a href="gallery.html"> gallery</a></h3>
	</div>
		<p> 
			<img src="../images/bio.jpeg" alt="space"with= "300" height= "300"> hello there my name is christopher calderon. here is a fake bio about me. I was born in 1920 fought in ww1 and ww2 as well as the vietnam war. I never age because i eat lots of apples. 
		</p>
</body>
</html>