<!DOCTYPE html>
<html>
<head>
	<title> website</title>
	<link rel="stylesheet" type="text/css" href="css/style1.css">

</head>
<body>
	<div>
		<h1>gallery</h1>
		<h3> <a href="../index.html"> home page</a></h3>
		<h3> <a href="bio.html"> bio</a></h3>
	</div>

	<span>
		<p> 
			<img src="../images/space1.jpeg" alt="space"with= "100" height= "100"> 

			<img src="../images/space2.jpeg" alt="space"with= "100" height= "100">
			<img src="../images/space3.jpeg" alt="space"with= "100" height= "100">
			<img src="../images/space4.jpeg" alt="space"with= "100" height= "100">
			<img src="../images/space5.jpeg" alt="space"with= "100" height= "100">
			<img src="../images/space6.jpeg" alt="space"with= "100" height= "100">
			<img src="../images/space7.jpeg" alt="space"with= "100" height= "100">
			<img src="../images/space8.jpeg" alt="space"with= "100" height= "100">
			<img src="../images/space9.jpeg" alt="space"with= "100" height= "100">
			<img src="../images/space10.jpeg" alt="space"with= "100" height= "100">
			<img src="../images/space11.jpeg" alt="space"with= "100" height= "100">
			<img src="../images/space12.jpeg" alt="space" with= "100" height= "100" >
			<figcaption>a bunch of pictures of space. nice right? <a href="../images/puppyhappy.jpeg">yes</a> <a href="../images/angrypuppy.jpeg">no</a></figcaption>
		</p>
	</span>
</body>
</html>