<!DOCTYPE html>
<html>
<head>
	<title>Playboi carti bio</title>
	<link rel="stylesheet" type="text/css" href="../css/bio.css">
</head>
<body>
	<div>
	<h1>bio</h1>
		<h3> <a href="../homepage.html"> Home page</a> </h3>
		<h3> <a href="gallery.html"> Gallery</a> </h3>
	</div>

	<span>
	<img src="../images/playboiheadshot.jpg" alt="Picture of playboi carti holding money.">
	<p>Jordan Terrell Carter formally known as his stage name Playboi Carti was born on september 13, 1996. Jordan carter was borned and raised in Atlanta, Georgia. Playboi carti is a African American Rap artist. As a kid Playboi Never really attended school and was always skipping classes. He attended North Springs Charter High School in Sandy Springs, Georgia. He reguarly sipped classes so that he can go to his job at H&M. Even though today mostly Carti is found in more luxurious clothing. Carti did an interview with Vouge and he saidd that when he was a kid he had always shopped in thirft stores and it was something that influenced him on fashion and music.</p>
	<p>Playboi carti orginally started rapping with the name Sir Cartier and then later changed his name to Playboi Carti when he turned 17 years old.he came out with his first debut single called Broke boi in 2015. Then in 2016 he later became more known when he featured on A$AP Mobs's debut album Cozy Tapes vol.1, on tracks London Town and Telephone. But if you don't already know that Playboi Carti is not only a rapper he is also a Model. He is known performing in many fashion shows, for example Rick owens, Vlone, yeezy season 5, and ovo outlook. Carti has also performed at fashion shows like Raf simmons and Vlone.        </p>
</body>
</html>