<!DOCTYPE html>
<html>
<head>
	<style>
	body {
		background: url(../tumblr.gif);
	}
	h1 {
		color: #7DFDFE;
	}
	h2 {
		color: #7DFDFE;
	}
	a {
		color: #7DFDFE;
	}
	img {
    float: center;
    margin: 4px 10px 0 0;
}
	</style>
	<title>My Biography</title>
</head>
<body>
	<div align="center">
	<h1>My Biography</h1>
	<h2> <a href="../index.html">Homepage</a> &#160&#160<a href="gallery.html">Gallery</a><h2>
        <img src="Images/me.png" height="250" width="225" alt="Image" style="float: center; margin: 0 15px 0px 0px; border: 5px solid #7DFDFE;">
		<p style="border:3px;border-style:solid;border-color:#7DFDFE;padding:1em;"> Hello, my name is Nicole Hernandez, Welcome to my Website! I'm an aspiring Animator/Motion Graphics Artist/Graphic Designer. I got into wanting to be an animator when i was in my late teens to early twenties but to be honest it started way back when i was a kid, me and my brother grew up on X-men, G.I Joe, Fantastic Four, anything to do with Marvel, D.C or Transformers was amazing to me. I fell in love with comics and vieo games and all these strange characters with these cool abilities i wished were real. As i  got older i stayed in love with all things that i loved as kid but for me that was video gams specifically I've always loved The Legend of Zelda, Super Mario as well as Sonic The Hedgehog and as years passed my tastes changed but ultimately stayed in the same rpg genre and my goal is to help design a video game either with the graphics or to help draw the artwork for the videogame.</p>
	</div>	
	</body>
	</html>