<!DOCTYPE html>
<html>
<head>
	<style>
body {
	background: url(../lightcycle.gif);
	background-size: 1475px 1400px;
	background-repeat: no-repeat;
	padding-top: 40px;
}
h1 {
	color: #7DFDFE;
}
p {
	color: #7DFDFE;
}
a {
	color: #7DFDFE;
}
h2 {
	color:#7DFDFE;
}
img {
	padding-top: 5%;
	width: 295px;
	height: 275px;
    background: center;
	text-align: center;
}
</style>

	<title>My Gallery</title>
</head>
<body>
	<div align="center">
	<h1>My Gallery</h1>
	<h2> <a href="../index.html">Homepage</a>&#160&#160&#160<a href="bio.html">Bio</a><h2>
		<h2>Collages And Projects I've Completed</h2>

			<span>
				<a href="Images/Hernandez_N_Lake.jpg"><img src="Images/Hernandez_N_Lake.jpg" align="center" alt="My First Collage " title="The First Collage I Created" /></a>
				<a href="Images/Hernandez_Nicole_CreativeCollagep2.jpg"><img src="Images/Hernandez_Nicole_CreativeCollagep2.jpg" align="center" alt="My First Collage Project" title="My First Collage Project" /></a>
				<a href="Images/Hernandez_Nicole_Collage2.jpg"><img src="Images/Hernandez_Nicole_Collage2.jpg" align="center" alt="Extra Credit Collage I Made" title="Extra Credit Collage I Made" /></a>
				<a href="Images/Together They Stand Together They Fall.jpg"><img src="Images/Together They Stand Together They Fall.jpg" align="center" alt="First Collage I Made For My Web Design Class" title="First Collage I Made For My Web Design Class" /></a>
				<a href="Images/NightSky.jpg"><img src="Images/NightSky.jpg" align="center" alt="Collage I Made For My Midterm Project" title="Collage I Made For My Midterm Project" /></a>
				<a href="Images/galaxy.jpg"><img src="Images/galaxy.jpg" align="center" alt="Collage I Made For My Midterm Project" title="Collage I Made For My Midterm Project" /></a>
				<a href="Images/Hernandez_N_FinalProject2.jpg"><img src="Images/Hernandez_N_FinalProject2.jpg" align="center" alt="My Graphic Design Final Project 2 Page Magazine Spread" title="My Graphic Design Final Project 2 Page Magazine Spread " /></a>
				<a href="Images/Hernandez_N_FinalProject3.jpg"><img src="Images/Hernandez_N_FinalProject3.jpg" align="center" alt="My Graphic Design Final Project 2 Page Magazine Spread" title="My Graphic Design Final Project 2 Page Magazine Spread" /></a>
				<a href="Images/Hernandez_N_FinalProject.jpg"><img src="Images/Hernandez_N_FinalProject.jpg" align="center" alt="My Graphic Design Final Project Magazine Cover" title="My Graphic Design Final Project Magazine Cover" /></a>
				<a href="Images/Hernandez_N_PR01_PCARD.jpg"><img src="Images/Hernandez_N_PR01_PCARD.jpg" align="center" alt="My First Indesign Project A Postcard" title="My First Indesign Project A Postcard" /></a>
				<a href="Images/Hernandez_N_PR01_PCARD2.jpg"><img src="Images/Hernandez_N_PR01_PCARD2.jpg" align="center" alt="My First Indesign Project A Postcard" title="My First Indesign Project A Postcard" /></a>
				<a href="Images/Assassin's.gif"><img src="Images/Assassin's.gif" align="center" alt="My Very First Gif" title="My Very First Gif" /></a>
			</span><br><br><br>
			<a href="mailto:nhernandez2788@gmail.com" class="btn btn-default">Contact Me</a>
</body>
</html>